/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* ----------------------------------------------------- */
/* myCustomCSS */

.centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
