/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* ----------------------------------------------------- */
/* myCustomCSS */

.heroBanner {
  padding: 5% 0;
  text-align: center;
  position: relative;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myHeroContainer {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 2.5rem 6rem;
  justify-content: center;
  align-items: center;
}

.leftContainer {
  padding: 3rem 0 0 1rem;
  font-size: 20rem;
  flex: 2;
  font-family:'Microsoft YaHei', '宋体',sans-serif; /* 中文字体 */
}

body:lang(en-GB).leftContainer {
  padding: 3rem 0 0 1rem;
  font-size: 20rem;
  flex: 2;
  font-family: 'Helvetica Neue', Arial, sans-serif; /* 英文字体 */
}


.rightContainer {
  /* width: 70%; */
  flex: 1.7;
}

.rightContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.leftContainer_h1 {
  color:rgba(255, 255, 255,0.5);
  font-size: 3.4rem;
  font-family:  Arial,'Helvetica Neue', sans-serif; /* 英文字体 */
  background:url("/gallery/202308173-1664-935.jpg") 50% 50%;
  background-size:cover;
  -webkit-background-clip:text;
  transition:1s linear;
  white-space: nowrap;
  cursor: default;
}

.leftContainer_h1:hover {
  background:url("/gallery/2022083-1664-935.jpg") 50% 50%;
  background-size:cover;
  color:transparent;
  -webkit-background-clip:text;
  white-space: nowrap;
}

.leftContainer_p {
  font-size: 1.2rem;
}


.buttonContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  margin-top: 4rem;
  width: 20rem;
  flex-wrap: wrap;
  row-gap: 2rem;
}


@media screen and (max-width: 966px) {
  .myHeroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

